{% set tags = [
'Pre-Packaged w/ SKU',
'Pre-Packaged w/o SKU'
] %}

# Buy

<h2 class="scroller">
    <span>Δ8 / Δ9 / Δ10<br />
        HHC & THCO<br />
        Physical Goods<br />
        Consulting</span>
</h2>

<form style="text-align:left">
    <fieldset>
        <legend>Search</legend>
        <div class="form-group">
            <label for="InputKeywords" class="form-label mt-4">Keywords</label>
            <input type="text" class="form-control" id="InputKeywords" aria-describedby="KeywordsHelp"
                placeholder="Enter Keywords">
        </div>
    </fieldset>

    <div class="form-group row">
        <a data-toggle="collapse" href=".collapseCategories" role="button" aria-expanded="false"
            aria-controls="collapseCategories" class="btn btn-info btn-search-collapse">
            Show Categories
        </a>
        <div class="collapse collapseCategories">
            <fieldset class="form-group">
                {% for category in categories_book %}
                {% set category_slug = category.replace('&','-').replace(' ','') %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        <a data-toggle="collapse" href=".collapse{{ category_slug }}" role="button"
                            aria-expanded="false" aria-controls="collapse{{ category }}">
                            {{ category }}
                        </a>
                    </label>
                </div>

                {% for sub_category in categories_book[category] %}
                <div class="form-check collapse collapse{{ category_slug }}">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        - {{ sub_category }}
                    </label>
                </div>
                {% endfor %}
                {% endfor %}
            </fieldset>
        </div>
    </div>

    <div class="form-group row">
        <a data-toggle="collapse" href=".collapseTags" role="button" aria-expanded="false" aria-controls="collapseTags"
            class="btn btn-info btn-search-collapse">
            Show Tags
        </a>
        <div class="collapse collapseTags">
            <fieldset class="form-group">
                {% for tag in tags_book %}
                {% set tag_slug = tag.replace('&','-').replace(' ','') %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        <a data-toggle="collapse" href=".collapse{{ tag_slug }}" role="button" aria-expanded="false"
                            aria-controls="collapse{{ tag }}">
                            {{ tag }}
                        </a>
                    </label>
                </div>

                {% for sub_tag in tags_book[tag] %}
                <div class="form-check collapse collapse{{ tag_slug }}">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        - {{ sub_tag }}
                    </label>
                </div>
                {% endfor %}
                {% endfor %}
            </fieldset>
        </div>
    </div>

    <div class="form-group row">
        <a data-toggle="collapse" href=".collapseCannabinoids" role="button" aria-expanded="false"
            aria-controls="collapseTags" class="btn btn-info btn-search-collapse">
            Show Cannabinoids
        </a>
        <div class="collapse collapseCannabinoids">
            <fieldset class="form-group">
                {% for cannabinoid in cannabinoids_book %}
                {% set cannabinoid_slug = cannabinoid.replace('&','-').replace(' ','') %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        <a data-toggle="collapse" href=".collapse{{ cannabinoid_slug }}" role="button"
                            aria-expanded="false" aria-controls="collapse{{ cannabinoid }}">
                            {{ cannabinoid }}
                        </a>
                    </label>
                </div>

                {% for sub_cannabinoid in cannabinoids_book[cannabinoid] %}
                <div class="form-check collapse collapse{{ cannabinoid_slug }}">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        - {{ sub_cannabinoid }}
                    </label>
                </div>
                {% endfor %}
                {% endfor %}
            </fieldset>
        </div>
    </div>

    <div class="form-group row">
        <a data-toggle="collapse" href=".collapseFromCountry" role="button" aria-expanded="false"
            aria-controls="collapseFromCountry" class="btn btn-info btn-search-collapse">
            Show From Country
        </a>
        <div class="collapse collapseFromCountry">
            <fieldset class="form-group">
                {% for country in countries_book %}
                {% set country_slug = country.replace('&','-').replace(' ','') %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        <a data-toggle="collapse" href=".collapseFrom{{ country_slug }}" role="button"
                            aria-expanded="false" aria-controls="collapse{{ country }}">
                            {{ country }}
                        </a>
                    </label>
                </div>

                {% for sub_country in countries_book[country] %}
                <div class="form-check collapse collapseFrom{{  country_slug }}">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        - {{ sub_country }}
                    </label>
                </div>
                {% endfor %}
                {% endfor %}
            </fieldset>
        </div>
    </div>

    <div class="form-group row">
        <a data-toggle="collapse" href=".collapseToCountries" role="button" aria-expanded="false"
            aria-controls="collapseTags" class="btn btn-info btn-search-collapse">
            Show To Countries
        </a>
        <div class="collapse collapseToCountries">
            <fieldset class="form-group">
                {% for country in countries_book %}
                {% set country_slug = country.replace('&','-').replace(' ','') %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        <a data-toggle="collapse" href=".collapseTo{{ country_slug }}" role="button"
                            aria-expanded="false" aria-controls="collapse{{ country }}">
                            {{ country }}
                        </a>
                    </label>
                </div>

                {% for sub_country in countries_book[country] %}
                <div class="form-check collapse collapseTo{{  country_slug }}">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        - {{ sub_country }}
                    </label>
                </div>
                {% endfor %}
                {% endfor %}
            </fieldset>
        </div>
    </div>

</form>