<h2 class="home-subhead">Exchange Crypto For</h2>

<h2 class="scroller">
    <span class="scroller-container"><i class="fa-solid fa-joint"></i> Δ8 & Δ9 & Δ10<br />
        <i class="fa-solid fa-eye-dropper"></i> HHC & THC-O & More!<br />
        <i class="fa-solid fa-truck-fast"></i> Physical Goods w/ Tracking<br />
        <i class="fa-solid fa-user-tie"></i> Digital Consulting & SOPs</span>
</h2>

<a class="btn btn-sm btn-secondary home-cta" href="/coins" role="button">Supported Coins</a>

<div>
    <span>
        <a class="btn btn-lg btn-primary home-cta" href="/buy" role="button">Buy</a>
    </span>
    <span>
        <a class="btn btn-lg btn-primary home-cta" href="/sell" role="button">Sell</a>
    </span>
</div>