<h2 class="home-subhead">Exchange Crypto For</h2>

<h2 class="scroller">
    <span>Δ8 / Δ9 / Δ10<br />
        HHC & THCO<br />
        Physical Goods<br />
        Consulting</span>
</h2>

<a class="btn btn-sm btn-secondary home-cta" href="/coins" role="button">Supported Coins</a>

<div>
    <span>
        <a class="btn btn-lg btn-primary home-cta" href="/buy" role="button">Buy</a>
    </span>
    <span>
        <a class="btn btn-lg btn-primary home-cta" href="/sell" role="button">Sell</a>
    </span>
</div>