<h2 class="home-subhead">Exchange Crypto For</h2>

<h2 class="scroller">
    <span class="scroller-container"><i class="fa-solid fa-joint"></i> Δ8 & Δ9 & Δ10<br />
        <i class="fa-solid fa-eye-dropper"></i> HHC & THC-O & More!<br />
        <i class="fa-solid fa-truck-fast"></i> Physical Goods w/ Tracking<br />
        <i class="fa-solid fa-user-tie"></i> Digital Consulting & SOPs</span>
</h2>

<div class="row">
    <div class="col-md">
        <div class="card text-white bg-primary mb-3" style="max-width: 400px">
            <div class="card-header">Exchange Crypto For Goods</div>
            <div class="card-body">
                <p class="card-text">
                    <a class="btn btn-lg btn-secondary" href="/buy" role="button">Buy Now</a><br/>
                    <picture>
                        <source style="max-height: 300px" srcset="/static/img/raw/package.png?1" type="image/png">
                        <img style="max-height: 300px" src="/static/img/raw/package.png">
                    </picture>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card text-white bg-primary mb-3" style="max-width: 400px">
            <div class="card-header">Exchange Goods For Crypto</div>
            <div class="card-body">
                <p class="card-text">
                    <a class="btn btn-lg btn-secondary" href="/sell" role="button">Sell Now</a>
                    <picture>
                        <source style="max-height: 300px" srcset="/static/img/raw/crypto_icons.png" type="image/png">
                        <img style="max-height: 300px" src="/static/img/raw/crypto_icons.png">
                    </picture>
                </p>
            </div>
        </div>
    </div>
</div>