h1 {
  margin: 0.5em 0;
}

ul {
  padding-left: 1em;
  text-align: left;
}

.container {
  text-align: center;
  margin-bottom: 2em;
}

.breadcrumb {
  margin-top: 1em;
}

.legal-disclaimer {
  padding: 0 1em;
  font-size: 75%;
  font-weight: bold;
}

.social-footer {
  font-size: 250%;
}

.social-footer > a {
  color: white;
  margin-right: 0.5em;
}

.contact-footer > p > a {
  margin-left: 1em;
  font-size: 75%;
}

.social-top-nav {
  font-size: 150%;
  margin-left: 1em;
}

.social-top-nav > a {
  color: white;
  margin: 0 0.5em;
  float: right;
}

.contact-top > a {
  margin-left: 1em;
  font-size: 75%;
}

.navbar-brand {
  margin: 0 auto 0 0.5rem;
}

.featured-img {
  margin-top: 1em;
  max-width: 100%;
  max-height: 50vh;
}

.map-responsive {
  overflow: hidden;
  position: relative;
  height: 320px;
}
.map-responsive iframe {
  max-height: 50vh;
  max-width: 100%;
}

/* Scroller styling */
.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
}
.scroller > span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  animation: slide 12s infinite;
  font-weight: bold;
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

.home-cta {
  margin-left: 1em;
}

.home-subhead {
  margin-top: 1em;
}

.inline-list {
  padding-left: 0;
  margin-bottom: 0;
}

.inline-list li {
  display: inline;
}

.inline-list li:not(:first-child) {
  margin-left: 1em;
}

.nav-link {
  margin-left: 20px;
}

.img-coin {
  width: 120px;
  height: 120px;
  max-height: 120px;
  max-width: 120px;
}

.coins {
  margin: 20px;
}

.coins > div {
  margin: 20px;
}

.card-text,
ul {
  margin-bottom: 0;
}

.card-body a {
  margin-top: 1em;
}

.crypto_address {
  margin: auto;
  max-width: 420px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

h4, img, .crypto_address {
  margin-top: 1em;
}

.crypto_qr {
  width: 250px;
  height: 250px;
  max-width: 250px;
  max-height: 250px;
}

.navbar-icon {
  height: 40px;
  margin: 0 0.5rem 0 0;
}

.legal-disclaimer > p > a > i {
  font-size: 200%;
  margin-right: 1rem;
}

.btn-search-collapse {
  width: 500px;
  max-width: 80vw;
  margin: 1rem;
  text-align: left;
}