{% extends "templates/macros/skeleton.jinja2" %}

{% block insert_header %}
<meta name="robots" content="noindex" />
{% endblock %}

{% block body %}
<h1>404: Page Not Found</h1>
<h2>Try searching the menu.</h2>
{% endblock %}